.infos{
    background-color: rgb(5, 5, 103);
}

.info{
    margin: 0 auto;
    max-width: 1300px;
    background-color: rgb(63, 63, 144);
    padding: 30px;
}


.img {
    position: relative;
    padding-bottom: 10px;
}

.text {
    text-align: start;
    margin-bottom: 20px;
    position: absolute;
    top: 70px;
    right: 4px;

    width: 100%;
    /* border: 2px solid black; */
    border-radius: 30px;
    padding: 8px;
    z-index: 50px;
    /* background-color: rgba(166, 162, 162, 0.435); */
    font-size: 24px;
    color:whitesmoke;
    font-weight: bold;

}

.social {
    font-size: 64px;

    text-align: start;

    color: white;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 1300px;
    margin-top: 40px;
    padding-left: 20px;
}