.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 50px;

}

.top {
    display: flex;

}

.alidaContainer {
    width: 90%;
    height: 400px;
    position: relative;


}

.alida {
    object-fit: contain;
    margin-top: 50px;
    border-radius: 30px;
}



.date {
    font-size: 20px;
    transform: rotate(270deg);
    margin: auto;
}




.title {
    font-size: 16px;
    margin-bottom: 50px;
    color: rebeccapurple;
    position: absolute;
    bottom: -65px;
    /* bottom: -1px; */
}



.desc {
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(248, 246, 246);
    font-size: 20px;
    padding: 20px;
    background-color: rgb(22, 22, 187);
    text-align: start;
    border-radius: 30px;



}

.bottom {
    margin-top: 50px;
    text-align: center;
    width: 90%;

}

.head {
    margin-top: 100px;
    font-size: 64px;
    text-align: center;
    color: rebeccapurple;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post {
    width: 30%;
}

.headContainer {
    margin-top: 200px;
    text-align: center;
    font-size: 64px;
    color: rebeccapurple;
    font-weight: 400px;
}

.link:hover {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    background-color: rebeccapurple;
    color: white
}

.link {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: blue;
    color: white
}


@media (max-width:1536px) {

    .container {
        width: 1366px
    }

}

@media (max-width:1366px) {

    .container {
        width: 1280px
    }

}

@media (max-width:1280px) {

    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;

    }

}

@media (max-width:1024px) {

    .container {
        width: 768px
    }

}

@media (max-width:768px) {

    .container {
        width: 640px
    }

}

@media (max-width:640px) {

    .container {
        width: 475px
    }

}

@media (max-width:475px) {

    .container {
        width: 380px
    }

}










@media screen and (max-width:1280px) {

    .post {
        width: 45%;
    }
}



@media screen and (max-width:768px) {

    .post {
        width: 100%;
    }
}