.container {
    /* max-width: 1563;
    margin: 0 auto;
    align-items: center; */
}






.headContainer {
    margin-top: 200px;
    text-align: center;
    font-size: 64px;
    color: rebeccapurple;
    font-weight: 400px;
}